body{
    font-family: monospace, monaco;
    line-height: 1.6;
    color: black;
}   

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: lightskyblue;
}

.foto {
    width: fit-content;
    border: 2px solid #272829 ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
  
.apie-mane {
    margin-bottom: 20px;
}
  
.aprasymas {
    width: fit-content;
    border: 2px solid #272829 ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

  
.atlikti-darbai {
    margin-bottom: 25px;
}
  
.paslaugos {
    width: fit-content;
    border: 2px solid #272829 ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.spausdinti:hover {
    background: darkgray;
}

header{
    background-color: #272829;
    padding: 20px;
    text-align: center;
    color: white;
}

.meniu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.meniu li{
    display: inline;
    margin-right: 20px;
}

.meniu a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.meniu a:hover{
    color: lightskyblue;
}

.soc-tinklai{
    position: relative;
    float: left;
    margin-left: 300px;
    margin-top: -320px;
}

.soc-tinklai a{
    display: block;
    color: white;
    font-size: 30px;
    margin-bottom: 10px; 
}
.soc-tinklai a:hover{
    color: lightskyblue;
}

.foto img{
    border: 2px solid white;
    border-radius: 5px;
}


footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a{
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 25px;
}

.footer a:hover{
    color: lightskyblue;
}

.spausdinti {
    background-color: darkgray;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.spausdinti:hover {
    background-color: lightskyblue;
}

.formule {
    width: fit-content;
    border: 2px solid #272829 ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.tekstas-virs-laikrodzio, .laikrodis{
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    font-size: 30px;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.forma {
    width: fit-content;
    border: 2px solid #272829 ;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

input[type=text], input[type=date], input[type=email], input[type=number], input[type=tel] {
    width: 80%; 
    padding: 12px 10px;
    margin: 8px 10px;
    border: dotted #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(197, 206, 216);
}

.forma input::placeholder{
    font-style: italic;
    color: rgba(0, 0, 0, 0.521);
}

.forma button{
    background-color: rgb(144, 208, 238);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: crosshair;
    font-family: monospace;
    margin-left: 15px;                
}
.forma button:hover {
    background-color: rgb(47, 196, 255);
}